body {
  margin: 0;
  margin-bottom: 22px;
  background-color: #bababa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mainpage {
  max-width: 980px;
  margin: auto;
  padding: 7px;
  background-color: #bababa;
  /* background-color: blue; */
}

#main-header {
  width: 100%;
  height: 43px;
  background-color: black;
  font-family: 'Permanent Marker', Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
  color: white;
}

#sub-header {
  width: 100%;
  height: auto;
  background-color: black;
  font-family: 'Averia Serif Libre', Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 4px;
  color: white;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: auto;
  background-color: black;
  font-family: 'Averia Serif Libre', Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}
